/* title font */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*   background-image: linear-gradient(#e4c89f, #310a0b); */
  background-color: #e4c89f;
  height: 200vh;
  scroll-behavior: smooth;
}

.main-image {
  opacity: 0.85;
  border-radius: 25px;
  border-style: groove;
  margin-left: 60%;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.2);
  margin-top: -50%;
}

.main-image:hover {
  box-shadow: 0px 0px 15px 20px rgba(252, 252, 252, 0.5);
  border: 2px solid black;
}

.hero-container {
  padding-top: 200px;
}

.hero-maintext,
.hero-subtext {
  font-family: monospace;
  padding-left: 60px;
}

.hero-maintext {
  font-size: 30px;
}

.hero-maintext span {
  font-size: 96px;
  font-family: "Abril fatface";
  letter-spacing: -5px;
}

.hero-maintext span:hover {
  color: #310a0b;
  cursor: default;
}

.hero-subtext {
  font-size: 35px;
}

.hero-subtext::after {
  content: "";
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  animation-name: wordswap;
  animation-duration: 9s;
  animation-delay: 0.25s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes wordswap {
  0% {
    content: "Web Developer";
  }
  25% {
    content: "Graphic Designer";
  }
  50% {
    content: "Student";
  }
  75% {
    content: "Writer";
  }
  100% {
    content: "Web Developer";
  }
}

.project-container {
  padding-top: 180px;
  padding-left: 60px;
  padding-bottom: 70px;
}

.tindog-reference {
  height: 230px;
  width: 230px;
  border-radius: 20px;
  margin-top: 50px;
}

.tindog-link a {
  text-decoration: none;
  color: black;
  padding-left: 45px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
}

.tindog-link a:hover {
  text-decoration: underline;
  color: #310a0b;
}

.tindog-reference:hover {
  box-shadow: 0px 0px 10px 10px #cc8587ce;
}

.project-header {
  font-family: "Abril fatface";
  font-size: 80px;
  letter-spacing: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-header:hover {
  color: #310a0b;
}

.project-subtext {
  font-family: monospace;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-header,
.project-subtext {
  line-height: 2.5px;
}

.aboutme-container {
  padding-top: 200px;
}

.aboutme-maintext {
  font-family: "Abril fatface";
  font-size: 80px;
  letter-spacing: -2px;
  width: fit-content;
}
.aboutme-maintext:hover {
  color: #310a0bce;
  cursor: default;
}

.aboutme-subtext {
  font-family: monospace;
  font-size: 30px;
  text-align: center;
  width: 350px;
}

.aboutme-maintext,
.aboutme-subtext {
  padding-left: 60px;
}

.image-3d {
  display: inline-block;
  margin-left: 60%;
  margin-top: -530px;
  border-radius: 25px;
  opacity: 0.9;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.2);
  border-style: groove;
}

.image-3d:hover,
.resume-image:hover {
  box-shadow: 0px 0px 10px 10px #cc8587ce;
}

.contactme-container {
  margin-top: 230px;
}

.contactme-letter1 {
  font-size: 60px;
  font-family: "Abril fatface";
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: -15px;
}

.contactme-letter1:hover {
  color: #310a0b;
}

.icon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.contact-icon1:hover,
.contact-icon2:hover {
  cursor: pointer;
  transform: scale(1.5);
  background-color: #e4c89fa4;
}

.contact-icon2:hover {
  border-radius: 50%;
}

/* Mobile devices (320px-480px) */
@media only screen and (max-width: 480px) {
  html {
    height: 100vh;
  }

  /* Adjust font sizes and padding */

  .hero-maintext {
    font-size: 15px;
  }

  .hero-maintext span {
    font-size: 38px;
  }

  .hero-subtext {
    font-size: 15px;
  }

  .hero-maintext,
  .hero-subtext,
  .aboutme-maintext,
  .aboutme-subtext {
    padding-left: 12px;
  }

  .project-header {
    font-size: 30px;
  }

  .project-subtext {
    font-size: 15px;
  }

  .aboutme-maintext {
    font-size: 30px;
  }

  .aboutme-subtext {
    font-size: 15px;
    text-align: start;
    padding-left: 12px;
    width: 50%;
  }

  .contactme-letter1 {
    font-size: 20px;
  }

  /* Adjust image sizes and margins */
  .main-image {
    width: 130px;
    height: 130px;
    margin-left: 58%;
  }

  .tindog-reference {
    height: 100px;
    width: 100px;
    margin-top: 20px;
    border-radius: 15px;
  }

  .tindog-link a {
    font-size: 14px;
    padding-left: 0px;
  }

  .image-3d {
    margin-top: -350px;
    width: 130px;
    height: 130px;
    margin-left: 58%;
  }

  /* Adjust container paddings */

  .hero-container {
    padding-top: 100px;
  }

  .project-container {
    padding-top: 90px;
    padding-left: 12px;
    padding-bottom: 40px;
  }

  .aboutme-container {
    padding-top: 60px;
  }

  .contactme-container {
    margin-top: 100px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 810px) {
  html {
    height: 100vh;
  }
  /* Adjust font sizes and padding*/

  .hero-maintext {
    font-size: 20px;
  }

  .hero-maintext span {
    font-size: 58px;
  }

  .hero-subtext {
    font-size: 25px;
  }

  .project-header {
    font-size: 56px;
  }

  .project-subtext {
    font-size: 20px;
  }

  .aboutme-maintext {
    font-size: 56px;
  }

  .aboutme-subtext {
    font-size: 20px;
    text-align: center;
    padding-left: 30px;
    width: 40%;
  }

  .contactme-letter1 {
    font-size: 40px;
  }

  /* Adjust image sizes and margins */

  .main-image {
    width: 230px;
    height: 230px;
    margin-left: 58%;
  }

  .tindog-reference {
    height: 170px;
    width: 170px;
    margin-top: 60px;
    border-radius: 20px;
    margin-left: 30px;
  }

  .tindog-link a {
    font-size: 16px;
    padding-left: 47px;
  }

  .image-3d {
    margin-top: -250px;
    width: 230px;
    height: 230px;
    margin-left: 58%;
  }

  /* Adjust container paddings */

  .hero-container {
    padding-top: 120px;
  }

  .project-container {
    padding-top: 100px;
    padding-left: 30px;
    padding-bottom: 50px;
  }

  .aboutme-container {
    padding-top: 60px;
  }

  .contactme-container {
    margin-top: 190px;
  }
}
